.home-image {
    background-image: url('../images/backg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 0;
    margin-bottom: 0;
}

.front-image {
    background-image: url('../images/preview.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 0;
    margin-bottom: 0;
}

.home-h1 {
    color: white;
}

.nav-item-pad {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
}

.d-item {
    color: white;
}

.file-box{
    padding: 3px;
}

.doc-url {
    font-size: 12px;
}

.fr-key-card {
    width: 300px;
    height: 330px;
    color: white;
}

.fr-key-card-img {
    width: 250px;
    height: 200px
}

.fr-track-card {
    width: 900px;
    height: 750px;
    color: white;
}

.fr-track-card-img {
    width: 250px;
    height: 200px
}

.fr-work-card {
    width: 900px;
    height: 800px;
    color: white;
}

.fr-work-card-img {
    width: 250px;
    height: 200px;
}

.fr-doc-card-img {
    width: 200px;
    height: 200px;
}

.fr-item-card {
    width: 300px;
    height: 400px;
    color: white;
}
