.card-counter{
    box-shadow: 2px 2px 10px #DADADA;
    margin: 5px;
    padding: 20px 10px;
    background-color: #fff;
    height: 120px;
    border-radius: 5px;
    transition: .3s linear all;
}

.card-counter:hover{
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
}

.card-counter.conf-det{
    background-color: #007bff;
    color: #FFF;
}

.card-counter.users{
    background-color: #00802b;
    color: #FFF;
}

.card-counter.tracks{
    background-color: #660066;
    color: #FFF;
}

.card-counter.blacks{
    background-color: #000000;
    color: #FFF;
}

.card-counter.buyers{
    background-color: #ff9900;
    color: #FFF;
}

.card-counter.orders{
    background-color: #000033;
    color: #FFF;
}

.card-counter.conf{
    background-color: #000080;
    color: #FFF;
}

.card-counter.reds{
    background-color: #e60000;
    color: #FFF;
}

.card-counter.browns{
    background-color: #663300;
    color: #FFF;
}

.card-counter i{
    font-size: 5em;
    opacity: 0.2;
}

.card-counter .count-numbers{
    position: absolute;
    right: 35px;
    top: 20px;
    font-size: 32px;
    display: block;
}

.card-counter .count-name{
    position: absolute;
    right: 35px;
    top: 65px;
    font-style: normal;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: 18px;
}